html{
  overflow: hidden;
}
#root{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#input{
}

.btn{
  border: none;
  background-color: lightpink;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0.5rem;
  transition-duration: 0.5s;
  border-radius: 2rem;
}
.btn:hover{
  background-color: rgb(128, 49, 148);
}
.btn:active{
  transition-duration: 0s;
  background-color: rgb(198, 104, 222);
}
